/* this css file will only style the homepage of our site */

#my-portrait {
  width: 300px;
}

body {
  background-color: #382532; /* this is the color for the "body", the full background */
  padding: 5px;
  border: dotted 5px #b782a1;
  border-radius: 5px;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: sans-serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 300%;
  text-align: center; /* Center the h1 text */
  flex-grow: 1; /* Allow h1 to take available space to push the button to the right */
  border-radius: 5px;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #dbd4ce;
  border-radius: 5px;
  background-color: #59324c;
}
.title {
  padding: 10px;
  margin-bottom: 10px;
  border: dotted 10px #dbd4ce;
  border-radius: 5px;
  background-color: #b782a1;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #dbd4ce;
  border-radius: 5px;
  background-color: #b782a1;
}

.minor-section-labs {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #dbd4ce;
  border-radius: 5px;
  background-color: #b782a1;
  text-align: center; /* Center content within this section only */
}

.lab-button-circle {
  display: inline-block;
  background-color: #59324c;
  width: 60px; /* Ensure the width and height are equal */
  height: 60px; /* Ensure the width and height are equal */
  border-radius: 50%; /* Makes the button perfectly circular */
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 60px; /* Matches the height for vertical centering */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.lab-button-circle:hover {
  background-color: #382532;
  transform: scale(1.1); /* Slight zoom effect */
}