/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #382532; /* this is the color for the "body", the full background */
  padding: 5px;
  border: dotted 5px #b782a1;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: sans-serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #dbd4ce;
  background-color: #59324c;
}

#my-portrait {
  width: 300px;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #dbd4ce;
  background-color: #b782a1;
}

.list {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #2F0C67;
  background-color: #616BC0;
}

/* This is for the homepage button links */
.inline-button {
  display: inline;
  color: black;
  font-size: 24px;

  background-color: #b782a1; /* makes it the same color as the div */
  border-width: 3px; /* gives it a nice bold border */
  border-color: black; /* makes sure that border is black */
  padding: 10px; /* adds some spacing between the edges of my content inside */ 
  margin: 5px; /* adds space outside edge of box */

    font-family:"Times New Roman", Times, serif   /* changes button's font family*/ 
}

.inline-button:hover {
background-color:#59324c;	/** Changes bg color whenever mouse pointer enters area occupied by this widget/button**/
}