/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #9269BE;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: sans-serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #CF51E0;
  background-color: #5A58C2;
}

#my-portrait {
  width: 300px;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #7c5f83;
  background-color: #cfafd1;
}

.list {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #2F0C67;
  background-color: #616BC0;
}
