/* Here we can set styles for this lab page that we don't want to effect others pages */
  .inline-button {
    display: inline;
    color: black;
    font-size: 24px;

    background-color: #cfafd1; /* makes it the same color as the div */
    border-width: 3px; /* gives it a nice bold border */
    border-color: black; /* makes sure that border is black */
    padding: 10px; /* adds some spacing between the edges of my content inside */ 
    margin: 5px; /* adds space outside edge of box */

      font-family:"Times New Roman", Times, serif   /* changes button's font family*/ 
}

.inline-button:hover {
  background-color:#5A58C2;	/** Changes bg color whenever mouse pointer enters area occupied by this widget/button**/
  border-width: 5px;	/** increases border thickness **/
}

.special {
  background-color: #382532;
  border: dotted 5px #7c5f83;
  color: #b782a1;
}