/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #7c5f83;
    background-color: #cfafd1;
  }

  #pic1 {
    width: 200px;
  }

  .inline-button {
    display: inline;
    color: black;
    font-size: 24px;

    background-color: #cfafd1; /* makes it the same color as the div */
    border-width: 3px; /* gives it a nice bold border */
    border-color: black; /* makes sure that border is black */
    padding-left-right-top-bottom-in-pixels-or-percentage-etc.; /* adds some spacing between the edges of my content inside */ 
    margin-left-right-top-bottom-in-pixels-or-percentage-etc.; /* adds space outside edge of box */

      font-family:"Times New Roman", Times, serif   /* changes button's font family*/ 

      float:right	/** places button on far right side of container at same level **/
}

.inline-button:hover {
  background-color:#5A58C2;	/** Changes bg color whenever mouse pointer enters area occupied by this widget/button**/
  border-width=5px	/** increases border thickness **/
}