/* Submit Button Styles */
#submit {
    display: inline-block;
    color: black;
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
    background-color: #b782a1;
    border: 1px solid #5A5A5A;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    margin-left: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  }
  
  #submit:hover {
    background-color: #59324c;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
  }

/* Change Color Button Styles */
 #change-color {
    display: inline-block;
    color: black;
    font-size: 24px;
    font-family: "Times New Roman", Times, serif;
    background-color: #b782a1;
    border: 2px solid #5A5A5A;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    margin-left: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  }
  
  #change-color:hover {
    background-color: #59324c;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
  }

  /* Reset Button Styles */
  #reset-page {
    display: inline-block;
    color: black;
    font-size: 24px;
    font-family: "Times New Roman", Times, serif;
    background-color: #b782a1;
    border: 2px solid #5A5A5A;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    margin-left: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  }
  
  #reset-page:hover {
    background-color: #59324c;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
  }