/* Here we can set styles for this lab page that we don't want to effect others pages */

  #pic1 {
    width: 600px;
  }

  #pic2 {
    width: 600px;
  }

  #pic3 {
    width: 600px;
  }

  #pic4 {
    width: 600px;
  }